In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Create test DataFrame
test_df = pd.DataFrame({
    'id': [1, 2, 2, 3, 4, 5, 5],
    'name': ['Alice', 'Bob', 'Bob', 'Charlie', 'David', 'Eve', 'Eve'],
    'age': [25, 30, 30, 35, 28, 32, 32],
    'city': ['NYC', 'LA', 'LA', 'NYC', 'Chicago', 'Boston', 'Boston'],
    'salary': [50000, 60000, 60000, 75000, 55000, 65000, 65000]
})

print("Test DataFrame:")
print(test_df)

Test DataFrame:
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
2   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000
6   5      Eve   32   Boston   65000

## Remove duplicate rows from DataFrame.
    
##### This operation identifies and removes rows that are duplicates based on specified columns.
    
###### Attributes:
        columns (list): List of column names to check for duplicates.
                       If None, checks all columns.
        keep (str): Which duplicates to keep:
                   - 'first': Keep first occurrence (default)
                   - 'last': Keep last occurrence
                   - False: Remove all duplicates

### 1. Initialize RemoveDuplicates operation.
        
##### Args:
            columns (list, optional): Column names to check for duplicates.
                                     Defaults to None (all columns).
            keep (str): Which duplicates to keep ('first', 'last', or False).
                       Defaults to 'first'.

### 2. Apply the remove duplicates operation to a DataFrame.
        
###### Args:
            df (pd.DataFrame): Input DataFrame.
###### Returns:
            pd.DataFrame: DataFrame with duplicates removed.
###### Raises:
            ValueError: If operation fails due to invalid input.
###### Example:
            >>> op = RemoveDuplicates(columns=['id', 'name'])
            >>> result = op.apply(df)

In [2]:
class RemoveDuplicates:
    
    def __init__(self, columns=None, keep='first'):
        self.columns = columns
        self.keep = keep
    
    def apply(self, df):
        try:
            # Make a copy to avoid modifying original
            result = df.copy()
            
            # Drop duplicates
            result = result.drop_duplicates(
                subset=self.columns, 
                keep=self.keep
            )
            
            return result
        except Exception as e:
            raise ValueError(f"Remove duplicates failed: {str(e)}")

# Test it
op1 = RemoveDuplicates()
result1 = op1.apply(test_df)
print(f"\nOriginal shape: {test_df.shape}")
print(f"After removing duplicates: {result1.shape}")
print("\nResult:")
print(result1)

# Test with specific columns
op2 = RemoveDuplicates(columns=['id'])
result2 = op2.apply(test_df)
print(f"\nAfter removing duplicates by 'id': {result2.shape}")
print(result2)

Original shape: (7, 5)
After removing duplicates: (5, 5)

Result:
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000

After removing duplicates by 'id': (5, 5)
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000

## Filter rows from DataFrame based on a condition.
    
###### This operation allows filtering rows by comparing a column value against a specified condition and value.
    
###### Attributes:
        column (str): Column name to filter by.
        operator (str): Comparison operator:
                       '==', '!=', '>', '<', '>=', '<=', 'contains', 'in'
        value: The value to compare against.

##### Initialize FilterRows operation.
###### Args:
            column (str): Column name to filter by.
            operator (str): Comparison operator.
            value: Value to compare against.
###### Raises:
            ValueError: If operator is not valid.


##### Apply the filter operation to a DataFrame.
        
###### Args:
            df (pd.DataFrame): Input DataFrame.
###### Returns:
            pd.DataFrame: Filtered DataFrame.
###### Raises:
            ValueError: If operation fails.
###### Example:
            >>> op = FilterRows('age', '>', 30)
            >>> result = op.apply(df)  # Get all rows where age > 30

In [3]:
class FilterRows:
    
    def __init__(self, column, operator, value):
        valid_operators = ['==', '!=', '>', '<', '>=', '<=', 'contains', 'in']
        if operator not in valid_operators:
            raise ValueError(f"Operator must be one of: {valid_operators}")
        
        self.column = column
        self.operator = operator
        self.value = value
    
    def apply(self, df):
        try:
            df = df.copy()
            
            if self.operator == '==':
                result = df[df[self.column] == self.value]
            elif self.operator == '!=':
                result = df[df[self.column] != self.value]
            elif self.operator == '>':
                result = df[df[self.column] > self.value]
            elif self.operator == '<':
                result = df[df[self.column] < self.value]
            elif self.operator == '>=':
                result = df[df[self.column] >= self.value]
            elif self.operator == '<=':
                result = df[df[self.column] <= self.value]
            elif self.operator == 'contains':
                result = df[df[self.column].astype(str).str.contains(str(self.value))]
            elif self.operator == 'in':
                result = df[df[self.column].isin(self.value)]
            else:
                raise ValueError(f"Unknown operator: {self.operator}")
            
            return result
        except Exception as e:
            raise ValueError(f"Filter failed: {str(e)}")

# Test it
op3 = FilterRows('age', '>', 30)
result3 = op3.apply(test_df)
print(f"\nFilter: age > 30")
print(result3)

op4 = FilterRows('city', '==', 'NYC')
result4 = op4.apply(test_df)
print(f"\nFilter: city == 'NYC'")
print(result4)

op5 = FilterRows('name', 'contains', 'Bob')
result5 = op5.apply(test_df)
print(f"\nFilter: name contains 'Bob'")
print(result5)

Filter: age > 30
   id     name  age    city  salary
3   3  Charlie   35     NYC   75000
5   5      Eve   32  Boston   65000
6   5      Eve   32  Boston   65000

Filter: city == 'NYC'
   id     name  age city  salary
0   1    Alice   25  NYC   50000
3   3  Charlie   35  NYC   75000

Filter: name contains 'Bob'
   id name  age city  salary
1   2  Bob   30   LA   60000
2   2  Bob   30   LA   60000

###    Replace values in a DataFrame column.
#####    This operation finds all occurrences of a specific value in a column and replaces them with a new value.
    
######    Attributes:
        column (str): Column name where replacements occur.
        old_value: Value to find and replace.
        new_value: Value to replace with.
#####        Initialize ReplaceValues operation.
######        Args:
            column (str): Column name.
            old_value: Value to replace.
            new_value: Replacement value.

#####        Apply the replace operation to a DataFrame.
######        Args:
            df (pd.DataFrame): Input DataFrame.
######        Returns:
            pd.DataFrame: DataFrame with replacements made.
######        Raises:
            ValueError: If operation fails.
######        Example:
            >>> op = ReplaceValues('city', 'NYC', 'New York')
            >>> result = op.apply(df)

In [4]:
class ReplaceValues:
    def __init__(self, column, old_value, new_value):
        self.column = column
        self.old_value = old_value
        self.new_value = new_value
    
    def apply(self, df):
        try:
            df = df.copy()
            
            # Replace the values
            df[self.column] = df[self.column].replace(
                self.old_value, 
                self.new_value
            )
            
            return df
        except Exception as e:
            raise ValueError(f"Replace failed: {str(e)}")

# Test it
op6 = ReplaceValues('city', 'NYC', 'New York')
result6 = op6.apply(test_df)
print(f"\nReplace: city 'NYC' -> 'New York'")
print(result6)

op7 = ReplaceValues('age', 30, 31)
result7 = op7.apply(test_df)
print(f"\nReplace: age 30 -> 31")
print(result7)

Replace: city 'NYC' -> 'New York'
   id     name  age      city  salary
0   1    Alice   25  New York   50000
1   2      Bob   30        LA   60000
2   2      Bob   30        LA   60000
3   3  Charlie   35  New York   75000
4   4    David   28   Chicago   55000
5   5      Eve   32    Boston   65000
6   5      Eve   32    Boston   65000

Replace: age 30 -> 31
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   31       LA   60000
2   2      Bob   31       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000
6   5      Eve   32   Boston   65000

In [5]:
import sys
import os

# Add parent directory (the project root) to Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

# Test importing from the module
from src.operations import RemoveDuplicates, FilterRows, ReplaceValues

# Create test data again
test_df = pd.DataFrame({
    'id': [1, 2, 2, 3, 4, 5, 5],
    'name': ['Alice', 'Bob', 'Bob', 'Charlie', 'David', 'Eve', 'Eve'],
    'age': [25, 30, 30, 35, 28, 32, 32],
    'city': ['NYC', 'LA', 'LA', 'NYC', 'Chicago', 'Boston', 'Boston'],
    'salary': [50000, 60000, 60000, 75000, 55000, 65000, 65000]
})

# Test FilterRows from module
op2 = FilterRows('age', '>', 30)
result2 = op2.apply(test_df)
print(f"Module test - FilterRows: {test_df.shape} -> {result2.shape}")

# Assert the number of rows only
expected_rows = 3  # because ages > 30 are 35, 32, 32
actual_rows = result2.shape[0]
assert actual_rows == expected_rows, f"FilterRows failed: expected {expected_rows} rows, got {actual_rows}"
print("FilterRows passed")

# Test ReplaceValues from module
op3 = ReplaceValues('city', 'NYC', 'New York')
result3 = op3.apply(test_df)
assert 'New York' in result3['city'].values, "ReplaceValues failed"
print("ReplaceValues passed")

print("\n All module imports and tests passed!")

Module test - FilterRows: (7, 5) -> (3, 5)
FilterRows passed
ReplaceValues passed

All module imports and tests passed!

    Merge multiple columns into a single column.
    
    Combines values from multiple columns using a separator.
    
    Attributes:
        columns (list): List of column names to merge.
        new_column_name (str): Name for the merged column.
        separator (str): String to use between values (default: ' ')

            Initialize MergeColumns operation.
        
        Args:
            columns (list): Column names to merge.
            new_column_name (str): Name for new column.
            separator (str): Separator between values.

    Apply the merge operation to a DataFrame.
        
        Args:
            df (pd.DataFrame): Input DataFrame.
        
        Returns:
            pd.DataFrame: DataFrame with new merged column.
        
        Raises:
            ValueError: If operation fails.
        
        Example:
            >>> op = MergeColumns(['first_name', 'last_name'], 'full_name')
            >>> result = op.apply(df)

    Normalize text in a column.
    
    Apply text transformations like lowercase, uppercase, title case, or trim.
    
    Attributes:
        column (str): Column name to normalize.
        method (str): Normalization method:
                     'lower', 'upper', 'title', 'trim', 'capitalize'
    Initialize NormalizeText operation.
        
        Args:
            column (str): Column name.
            method (str): Normalization method.
        
        Raises:
            ValueError: If method is not valid.

    Apply text normalization to a DataFrame.
        
        Args:
            df (pd.DataFrame): Input DataFrame.
        
        Returns:
            pd.DataFrame: DataFrame with normalized text.
        
        Raises:
            ValueError: If operation fails.
        
        Example:
            >>> op = NormalizeText('name', 'upper')
            >>> result = op.apply(df)

    Convert date formats in a column.
    
    Parse dates from one format and convert to another.
    
    Attributes:
        column (str): Column name with dates.
        from_format (str): Input date format (e.g., '%Y-%m-%d', '%d/%m/%Y').
                          Use 'auto' to let pandas infer.
        to_format (str): Output date format.

        Initialize ConvertDateFormat operation.
        
        Args:
            column (str): Column name.
            from_format (str): Input format or 'auto'.
            to_format (str): Output format.

        Apply date format conversion to a DataFrame.
        
        Args:
            df (pd.DataFrame): Input DataFrame.
        
        Returns:
            pd.DataFrame: DataFrame with converted dates.
        
        Raises:
            ValueError: If operation fails.
        
        Example:
            >>> op = ConvertDateFormat('date_col', 'auto', '%d-%m-%Y')
            >>> result = op.apply(df)

In [6]:
import sys
import os
import pandas as pd
from datetime import datetime

sys.path.insert(0, r"C:\Users\sinch\Documents\Projects\MUFG\Case_Study_1\excel-data-massaging-tool")

# Test new operations
from src.operations import MergeColumns, NormalizeText, ConvertDateFormat

# Test data
test_df = pd.DataFrame({
    'first_name': ['John', 'Jane', 'Bob'],
    'last_name': ['Doe', 'Smith', 'Johnson'],
    'city': ['new york', 'los angeles', 'CHICAGO'],
    'date': ['2024-01-15', '2024-02-20', '2024-03-10']
})

print("Original:")
print(test_df)

# Test MergeColumns
op1 = MergeColumns(['first_name', 'last_name'], 'full_name', ' ')
result1 = op1.apply(test_df)
print("\n1. After MergeColumns:")
print(result1[['first_name', 'last_name', 'full_name']])

# Test NormalizeText
op2 = NormalizeText('city', 'title')
result2 = op2.apply(test_df)
print("\n2. After NormalizeText (title case):")
print(result2['city'])

# Test ConvertDateFormat
op3 = ConvertDateFormat('date', 'auto', '%d/%m/%Y')
result3 = op3.apply(test_df)
print("\n3. After ConvertDateFormat:")
print(result3['date'])

print("\n All 3 new operations working!")

Original:
  first_name last_name         city        date
0       John       Doe     new york  2024-01-15
1       Jane     Smith  los angeles  2024-02-20
2        Bob   Johnson      CHICAGO  2024-03-10

1. After MergeColumns:
  first_name last_name    full_name
0       John       Doe     John Doe
1       Jane     Smith   Jane Smith
2        Bob   Johnson  Bob Johnson

2. After NormalizeText (title case):
0       New York
1    Los Angeles
2        Chicago
Name: city, dtype: object

3. After ConvertDateFormat:
0    15/01/2024
1    20/02/2024
2    10/03/2024
Name: date, dtype: object

 All 3 new operations working!