In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Create test DataFrame
test_df = pd.DataFrame({
    'id': [1, 2, 2, 3, 4, 5, 5],
    'name': ['Alice', 'Bob', 'Bob', 'Charlie', 'David', 'Eve', 'Eve'],
    'age': [25, 30, 30, 35, 28, 32, 32],
    'city': ['NYC', 'LA', 'LA', 'NYC', 'Chicago', 'Boston', 'Boston'],
    'salary': [50000, 60000, 60000, 75000, 55000, 65000, 65000]
})

print("Test DataFrame:")
print(test_df)

Test DataFrame:
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
2   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000
6   5      Eve   32   Boston   65000

## Remove duplicate rows from DataFrame.
    
##### This operation identifies and removes rows that are duplicates based on specified columns.
    
###### Attributes:
        columns (list): List of column names to check for duplicates.
                       If None, checks all columns.
        keep (str): Which duplicates to keep:
                   - 'first': Keep first occurrence (default)
                   - 'last': Keep last occurrence
                   - False: Remove all duplicates

### 1. Initialize RemoveDuplicates operation.
        
##### Args:
            columns (list, optional): Column names to check for duplicates.
                                     Defaults to None (all columns).
            keep (str): Which duplicates to keep ('first', 'last', or False).
                       Defaults to 'first'.

### 2. Apply the remove duplicates operation to a DataFrame.
        
###### Args:
            df (pd.DataFrame): Input DataFrame.
###### Returns:
            pd.DataFrame: DataFrame with duplicates removed.
###### Raises:
            ValueError: If operation fails due to invalid input.
###### Example:
            >>> op = RemoveDuplicates(columns=['id', 'name'])
            >>> result = op.apply(df)

In [5]:
class RemoveDuplicates:
    
    def __init__(self, columns=None, keep='first'):
        self.columns = columns
        self.keep = keep
    
    def apply(self, df):
        try:
            # Make a copy to avoid modifying original
            result = df.copy()
            
            # Drop duplicates
            result = result.drop_duplicates(
                subset=self.columns, 
                keep=self.keep
            )
            
            return result
        except Exception as e:
            raise ValueError(f"Remove duplicates failed: {str(e)}")

# Test it
op1 = RemoveDuplicates()
result1 = op1.apply(test_df)
print(f"\nOriginal shape: {test_df.shape}")
print(f"After removing duplicates: {result1.shape}")
print("\nResult:")
print(result1)

# Test with specific columns
op2 = RemoveDuplicates(columns=['id'])
result2 = op2.apply(test_df)
print(f"\nAfter removing duplicates by 'id': {result2.shape}")
print(result2)

Original shape: (7, 5)
After removing duplicates: (5, 5)

Result:
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000

After removing duplicates by 'id': (5, 5)
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   30       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000

## Filter rows from DataFrame based on a condition.
    
###### This operation allows filtering rows by comparing a column value against a specified condition and value.
    
###### Attributes:
        column (str): Column name to filter by.
        operator (str): Comparison operator:
                       '==', '!=', '>', '<', '>=', '<=', 'contains', 'in'
        value: The value to compare against.

##### Initialize FilterRows operation.
###### Args:
            column (str): Column name to filter by.
            operator (str): Comparison operator.
            value: Value to compare against.
###### Raises:
            ValueError: If operator is not valid.


##### Apply the filter operation to a DataFrame.
        
###### Args:
            df (pd.DataFrame): Input DataFrame.
###### Returns:
            pd.DataFrame: Filtered DataFrame.
###### Raises:
            ValueError: If operation fails.
###### Example:
            >>> op = FilterRows('age', '>', 30)
            >>> result = op.apply(df)  # Get all rows where age > 30

In [6]:
class FilterRows:
    
    def __init__(self, column, operator, value):
        valid_operators = ['==', '!=', '>', '<', '>=', '<=', 'contains', 'in']
        if operator not in valid_operators:
            raise ValueError(f"Operator must be one of: {valid_operators}")
        
        self.column = column
        self.operator = operator
        self.value = value
    
    def apply(self, df):
        try:
            df = df.copy()
            
            if self.operator == '==':
                result = df[df[self.column] == self.value]
            elif self.operator == '!=':
                result = df[df[self.column] != self.value]
            elif self.operator == '>':
                result = df[df[self.column] > self.value]
            elif self.operator == '<':
                result = df[df[self.column] < self.value]
            elif self.operator == '>=':
                result = df[df[self.column] >= self.value]
            elif self.operator == '<=':
                result = df[df[self.column] <= self.value]
            elif self.operator == 'contains':
                result = df[df[self.column].astype(str).str.contains(str(self.value))]
            elif self.operator == 'in':
                result = df[df[self.column].isin(self.value)]
            else:
                raise ValueError(f"Unknown operator: {self.operator}")
            
            return result
        except Exception as e:
            raise ValueError(f"Filter failed: {str(e)}")

# Test it
op3 = FilterRows('age', '>', 30)
result3 = op3.apply(test_df)
print(f"\nFilter: age > 30")
print(result3)

op4 = FilterRows('city', '==', 'NYC')
result4 = op4.apply(test_df)
print(f"\nFilter: city == 'NYC'")
print(result4)

op5 = FilterRows('name', 'contains', 'Bob')
result5 = op5.apply(test_df)
print(f"\nFilter: name contains 'Bob'")
print(result5)

Filter: age > 30
   id     name  age    city  salary
3   3  Charlie   35     NYC   75000
5   5      Eve   32  Boston   65000
6   5      Eve   32  Boston   65000

Filter: city == 'NYC'
   id     name  age city  salary
0   1    Alice   25  NYC   50000
3   3  Charlie   35  NYC   75000

Filter: name contains 'Bob'
   id name  age city  salary
1   2  Bob   30   LA   60000
2   2  Bob   30   LA   60000

###    Replace values in a DataFrame column.
#####    This operation finds all occurrences of a specific value in a column and replaces them with a new value.
    
######    Attributes:
        column (str): Column name where replacements occur.
        old_value: Value to find and replace.
        new_value: Value to replace with.
#####        Initialize ReplaceValues operation.
######        Args:
            column (str): Column name.
            old_value: Value to replace.
            new_value: Replacement value.

#####        Apply the replace operation to a DataFrame.
######        Args:
            df (pd.DataFrame): Input DataFrame.
######        Returns:
            pd.DataFrame: DataFrame with replacements made.
######        Raises:
            ValueError: If operation fails.
######        Example:
            >>> op = ReplaceValues('city', 'NYC', 'New York')
            >>> result = op.apply(df)

In [7]:
class ReplaceValues:
    def __init__(self, column, old_value, new_value):
        self.column = column
        self.old_value = old_value
        self.new_value = new_value
    
    def apply(self, df):
        try:
            df = df.copy()
            
            # Replace the values
            df[self.column] = df[self.column].replace(
                self.old_value, 
                self.new_value
            )
            
            return df
        except Exception as e:
            raise ValueError(f"Replace failed: {str(e)}")

# Test it
op6 = ReplaceValues('city', 'NYC', 'New York')
result6 = op6.apply(test_df)
print(f"\nReplace: city 'NYC' -> 'New York'")
print(result6)

op7 = ReplaceValues('age', 30, 31)
result7 = op7.apply(test_df)
print(f"\nReplace: age 30 -> 31")
print(result7)

Replace: city 'NYC' -> 'New York'
   id     name  age      city  salary
0   1    Alice   25  New York   50000
1   2      Bob   30        LA   60000
2   2      Bob   30        LA   60000
3   3  Charlie   35  New York   75000
4   4    David   28   Chicago   55000
5   5      Eve   32    Boston   65000
6   5      Eve   32    Boston   65000

Replace: age 30 -> 31
   id     name  age     city  salary
0   1    Alice   25      NYC   50000
1   2      Bob   31       LA   60000
2   2      Bob   31       LA   60000
3   3  Charlie   35      NYC   75000
4   4    David   28  Chicago   55000
5   5      Eve   32   Boston   65000
6   5      Eve   32   Boston   65000